@import url("../font/pretendard-subset.css");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Pretendard";
}

.flex {
  display: flex;
}
.flex.center {
  align-items: center;
  justify-content: center;
}
.flex.end {
  justify-content: flex-end;
}
.flex.between {
  justify-content: space-between;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  background: linear-gradient(180deg, #d9d9d9 0px, #b3b3b3 110px, #999 111px, #e6e6e6 calc(100% - 90px), #f2f2f2 calc(100% - 90px), #ccc 100%);
}
.intro .light {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.75;
}
.intro > div:not(.title) {
  text-align: center;
  padding: calc(110px + 2rem) 412px 0;
}
.intro > div:not(.title) > div {
  width: 640px;
  aspect-ratio: 3/2;
  background: #333;
  border: 6px solid white;
  outline: 8px solid #808080;
  margin: 2rem auto;
}
.intro > div:not(.title) button {
  font-size: 1.5rem;
  background: #A01857;
  border: none;
  border-radius: 9999px;
  color: white;
  padding: 0.75rem 1.5rem;
}
.intro .title {
  height: 90px;
  align-content: center;
}
.intro .title .center {
  gap: 1.75rem;
}

.menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 412px;
  transform: translateY(-100%);
  transition: 0.4s transform;
}
.menu-wrapper.is-active {
  transform: translateY(0);
}
.menu-wrapper .menu {
  display: flex;
  justify-content: space-between;
  background: #A01857;
  border-radius: 0 0 1.75rem 1.75rem;
  padding: 1rem 2rem;
  gap: 4rem;
}
.menu-wrapper .menu > div {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
}
.menu-wrapper .menu > div button {
  flex-grow: 1;
}
.menu-wrapper .menu button {
  background: white;
  border: none;
  border-radius: 9999px;
  font-size: 1.125rem;
  padding: 1rem 0;
}
.menu-wrapper .menu .close,
.menu-wrapper .menu .back {
  background: transparent;
}

.main {
  height: 100%;
  background-color: #A01857;
  background-image: url("../images/bg_main.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
.main .grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 2rem 412px;
}
.main .grid > div {
  width: 100%;
}
.main .grid .end {
  margin-bottom: 2rem;
  padding: 0 24px;
}
.main .grid .end button {
  background: transparent;
  border: none;
}
.main .grid .items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
  width: 100%;
}
.main .grid .items .item-wrapper {
  flex: 0 0 25%;
  padding: 0 24px;
}
.main .grid .items .item-wrapper .item {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  background: white;
  border: 6px solid white;
  border-bottom: none;
}
.main .grid .items .item-wrapper .item img {
  width: 100%;
  aspect-ratio: 4/3;
}
.main .grid .items .item-wrapper .item div {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background: white;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem 0;
}
.main .title {
  text-align: center;
  margin-top: 1rem;
}
.main .title > img {
  margin-bottom: 1.75rem;
}
.main .title .center {
  gap: 2rem;
}

.fancybox__content {
  max-width: 800px;
  padding: 0;
}
.fancybox__content .flex.between {
  padding: 0 1rem;
}
.fancybox__content .close {
  background: transparent;
  border: none;
  padding: 0;
}
.fancybox__content p {
  padding: 1rem;
}
.fancybox__content .buttons {
  gap: 1rem;
}
.fancybox__content .buttons button {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  background: #A01857;
  border: none;
  padding: 0.5rem 1.5rem;
}
.fancybox__content .buttons button.point {
  background: #FF9500;
}

.event .menu-wrapper {
  transform: none;
}
.event section {
  padding: 0 212px;
}
.event section > div {
  background: #F5F5F7;
  border-top: 10px solid #A01857;
  padding: 0 200px;
  margin-top: -2.5rem;
}
.event section > div .title {
  align-items: start;
  border-bottom: 1px solid #cdcdcd;
  font-size: 1.25rem;
}
.event section > div .title h3 {
  font-size: 2rem;
  color: #A01857;
}
.event section > div ul {
  padding: 0 0 0 1rem;
  line-height: 1.6;
}
.event .step {
  font-size: 1.25rem;
  margin: 5rem 0 2rem;
}
.event .select-form {
  display: flex;
  gap: 2rem;
}
.event .select-form input {
  display: none;
}
.event .select-form input + label {
  background: #D9D9D9;
  text-align: center;
  padding: 1rem 0;
  flex-grow: 1;
  cursor: pointer;
}
.event .select-form input:checked + label {
  background: #A01857;
  color: white;
}
.event .select-form.age {
  margin-top: 1rem;
  flex-wrap: wrap;
  row-gap: 1rem;
}
.event .select-form.age input + label {
  flex-basis: calc(25% - 2rem);
}
.event .grid .items {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.event .grid .items .item-wrapper {
  flex: 1 0 calc(25% - 2rem);
}
.event .grid .items .item-wrapper .item {
  width: 100%;
}
.event .grid .items .item-wrapper .item img {
  width: 100%;
}
.event .form label {
  display: flex;
  align-items: center;
}
.event .form label strong {
  flex: 0 0 4rem;
}
.event .form label .flex {
  gap: 0.5rem;
}
.event .form label .flex input {
  flex: 1 1 30%;
  min-width: none;
  width: auto;
}

.event-bg {
  background-color: #EDEDED;
  background-image: url("../images/bg_event_bottom.svg");
  background-position: left bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}
.event-bg > div {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 412px 5rem;
}
.event-bg > div > img {
  position: relative;
  left: -200px;
  width: 200px;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: -2rem 0 4px rgba(0, 0, 0, 0.125);
}
.event-bg > div > img:last-of-type {
  left: initial;
  right: -200px;
}
.event-bg > div .content {
  text-align: center;
  padding: 10rem 2rem 0;
  margin-left: -200px;
  margin-right: -200px;
}
.event-bg > div .content img {
  width: 100%;
}
.event-bg > div .content .frames {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0 5rem;
}
.event-bg > div .content .frames div {
  flex: 0 0 calc(33.3% - 0.625rem);
  aspect-ratio: 9/7;
  background: url("../images/img_frame.svg") no-repeat center/contain;
  background-color: #A01857;
}

@media (max-width: 768px) {
  .intro .light {
    width: 100%;
  }
  .intro > div:not(.title) {
    padding: 8rem 2rem 0;
  }
  .intro > div:not(.title) img {
    width: 100%;
  }
  .intro > div:not(.title) > div {
    width: 100%;
  }
  .main {
    width: 100%;
    background-size: cover;
  }
  .main .grid {
    padding: 0 1rem;
  }
  .main .grid .end {
    padding: 1rem 0;
  }
  .main .grid .items {
    row-gap: 1rem;
  }
  .main .grid .items .item-wrapper {
    flex: 0 0 33.3%;
    padding: 0 0.5rem;
  }
  .main .grid .items .item-wrapper .item {
    border-width: 4px;
  }
  .main .grid .items .item-wrapper .item div {
    font-size: 0.75rem;
    padding: 0.25rem 0;
  }
  .main .grid .title {
    margin: 0;
  }
  .main .grid .title > img {
    display: none;
  }
  .main .grid .title .flex {
    padding: 1.5rem 0;
    gap: 1.5rem;
  }
  .main .grid .title .flex img {
    height: 1.25rem;
  }
}/*# sourceMappingURL=style.css.map */